In [100]:
import pandas as pd

In [101]:
superstore = pd.read_csv("../data/raw/superstore.csv")

superstore.head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [102]:
# Reviso el tipo de datos y cantidad de valores.
superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [103]:
# Estadísticas descriptivas de los valores numéricos.
superstore.describe()

            Row ID   Postal Code         Sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

In [104]:
# Calculaar la cantidad de valores nulos por columna.
superstore.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [105]:
# Convertir las columnas de fecha de string a tipo datetime
superstore["Order Date"] = pd.to_datetime(superstore["Order Date"], dayfirst=True)
superstore["Ship Date"] = pd.to_datetime(superstore["Ship Date"], dayfirst=True)

In [106]:
# Verifico a que ciudades y estados pertenecen los códigos postales nulos
superstore[superstore["Postal Code"].isnull()][["City", "State"]]

            City    State
2234  Burlington  Vermont
5274  Burlington  Vermont
8798  Burlington  Vermont
9146  Burlington  Vermont
9147  Burlington  Vermont
9148  Burlington  Vermont
9386  Burlington  Vermont
9387  Burlington  Vermont
9388  Burlington  Vermont
9389  Burlington  Vermont
9741  Burlington  Vermont

In [107]:
# Reviso todos los datos cuya ciudad sea Burlington y el estado Vermont
superstore[
    (superstore["City"] == "Burlington") &
    (superstore["State"] == "Vermont")
]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
2234,2235,CA-2018-104066,2018-12-05,2018-12-10,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03
5274,5275,CA-2016-162887,2016-11-07,2016-11-09,Second Class,SV-20785,Stewart Visinsky,Consumer,United States,Burlington,Vermont,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20
8798,8799,US-2017-150140,2017-04-06,2017-04-10,Standard Class,VM-21685,Valerie Mitchum,Home Office,United States,Burlington,Vermont,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75
9146,9147,US-2017-165505,2017-01-23,2017-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98
9147,9148,US-2017-165505,2017-01-23,2017-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04
9148,9149,US-2017-165505,2017-01-23,2017-01-27,Standard Class,CB-12535,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29
9386,9387,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92
9387,9388,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28
9388,9389,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94
9389,9390,US-2018-127292,2018-01-19,2018-01-23,Standard Class,RM-19375,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04
9741,9742,CA-2016-117086,2016-11-08,2016-11-12,Standard Class,QJ-19255,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90

In [108]:
superstore["lead_time_days"] = (superstore["Ship Date"] - superstore["Order Date"]).dt.days

In [109]:
superstore.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,lead_time_days
0,1,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,3
1,2,CA-2017-152156,2017-11-08,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3
2,3,CA-2017-138688,2017-06-12,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,4
3,4,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,7
4,5,US-2016-108966,2016-10-11,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,7

In [110]:
superstore["lead_time_days"].describe()

count    9800.000000
mean        3.961122
std         1.749614
min         0.000000
25%         3.000000
50%         4.000000
75%         5.000000
max         7.000000
Name: lead_time_days, dtype: float64

In [111]:
superstore[superstore["lead_time_days"] == 0][["Order Date", "Ship Date", "Ship Mode"]].head()

    Order Date  Ship Date Ship Mode
366 2017-10-21 2017-10-21  Same Day
367 2017-10-21 2017-10-21  Same Day
368 2017-10-21 2017-10-21  Same Day
369 2017-10-21 2017-10-21  Same Day
657 2017-09-19 2017-09-19  Same Day

In [112]:
superstore.groupby("Ship Mode")["lead_time_days"].agg(["mean", "median", "count"])

                    mean  median  count
Ship Mode
First Class     2.179214     2.0   1501
Same Day        0.044610     0.0    538
Second Class    3.249211     3.0   1902
Standard Class  5.008363     5.0   5859

In [113]:
superstore.groupby("Ship Mode")["Sales"].mean().sort_values(ascending=False)

Ship Mode
Second Class      236.547939
Same Day          232.749143
First Class       230.228020
Standard Class    228.849856
Name: Sales, dtype: float64

In [114]:
region_sales = (superstore.groupby("Region").agg(total_sales=("Sales", "sum"), avg_sales=("Sales", "mean"), 
                                                 orders=("Order ID", "nunique")).sort_values("total_sales", ascending=False))

region_sales

         total_sales   avg_sales  orders
Region
West     710219.6845  226.184613    1587
East     669518.7260  240.401697    1369
Central  492646.9132  216.357889    1156
South    389151.4590  243.524067     810

In [115]:
city_sales = (superstore.groupby(["Region", "City"]).agg(total_sales=("Sales", "sum"), orders=("Order ID", "nunique")).sort_values("total_sales", ascending=False))

city_sales.head(10)

                       total_sales  orders
Region  City
East    New York City  252462.5470     439
West    Los Angeles    173420.1810     378
        Seattle        116106.3220     210
        San Francisco  109041.1200     261
East    Philadelphia   108841.7490     262
Central Houston         63956.1428     186
        Chicago         47820.1330     166
West    San Diego       47521.0290      88
South   Jacksonville    44713.1830      61
Central Detroit         42446.9440      53

In [116]:
customer_ltv = (superstore.groupby(["Customer ID", "Customer Name"]).agg(total_sales=("Sales", "sum"), orders=("Order ID", "nunique")).sort_values("total_sales", ascending=False))

customer_ltv.head(10)

                                total_sales  orders
Customer ID Customer Name
SM-20320    Sean Miller           25043.050       5
TC-20980    Tamara Chand          19052.218       5
RB-19360    Raymond Buch          15117.339       6
TA-21385    Tom Ashbrook          14595.620       4
AB-10105    Adrian Barton         14473.571      10
KL-16645    Ken Lonsdale          14175.229      12
SC-20095    Sanjit Chand          14142.334       9
HL-15040    Hunter Lopez          12873.298       6
SE-20110    Sanjit Engle          12209.438      11
CC-12370    Christopher Conant    12129.072       5

In [117]:
customer_ltv["avg_order_value"] = (customer_ltv["total_sales"] / customer_ltv["orders"])

customer_ltv.head(10)

                                total_sales  orders  avg_order_value
Customer ID Customer Name
SM-20320    Sean Miller           25043.050       5      5008.610000
TC-20980    Tamara Chand          19052.218       5      3810.443600
RB-19360    Raymond Buch          15117.339       6      2519.556500
TA-21385    Tom Ashbrook          14595.620       4      3648.905000
AB-10105    Adrian Barton         14473.571      10      1447.357100
KL-16645    Ken Lonsdale          14175.229      12      1181.269083
SC-20095    Sanjit Chand          14142.334       9      1571.370444
HL-15040    Hunter Lopez          12873.298       6      2145.549667
SE-20110    Sanjit Engle          12209.438      11      1109.948909
CC-12370    Christopher Conant    12129.072       5      2425.814400

In [118]:
order_products = (superstore.groupby("Order ID").agg(num_products=("Product ID", "nunique"), total_sales=("Sales", "sum")))

order_products.head()

                num_products  total_sales
Order ID
CA-2015-100006             1      377.970
CA-2015-100090             2      699.192
CA-2015-100293             1       91.056
CA-2015-100328             1        3.928
CA-2015-100363             2       21.376

In [119]:
order_products["order_type"] = (
    order_products["num_products"]
    .apply(lambda x: "Multi-product" if x > 1 else "Single-product")
)

In [120]:
order_products["order_type"].value_counts()

order_type
Single-product    2501
Multi-product     2421
Name: count, dtype: int64

In [121]:
order_products["order_type"].value_counts(normalize=True) * 100

order_type
Single-product    50.812678
Multi-product     49.187322
Name: proportion, dtype: float64

In [122]:
order_products.groupby("order_type").agg(avg_sales=("total_sales", "mean"), median_sales=("total_sales", "median"),
    orders=("total_sales", "count"))

                 avg_sales  median_sales  orders
order_type
Multi-product   718.553219       367.530    2421
Single-product  208.684302        51.312    2501

In [123]:
superstore["order_month"] = superstore["Order Date"].dt.to_period("M")

In [124]:
monthly_sales = (superstore.groupby("order_month")["Sales"].sum().reset_index().sort_values("order_month"))

monthly_sales.head()

  order_month      Sales
0     2015-01  14205.707
1     2015-02   4519.892
2     2015-03  55205.797
3     2015-04  27906.855
4     2015-05  23644.303

In [125]:
monthly_orders = (superstore.groupby("order_month")["Order ID"].nunique().reset_index(name="orders").sort_values("order_month"))

monthly_orders.head()

  order_month  orders
0     2015-01      30
1     2015-02      28
2     2015-03      69
3     2015-04      63
4     2015-05      68

In [126]:
monthly_aov = (superstore.groupby("order_month")["Sales"].mean().reset_index(name="avg_order_value").sort_values("order_month"))

monthly_aov.head()

  order_month  avg_order_value
0     2015-01       184.489701
1     2015-02        98.258522
2     2015-03       358.479201
3     2015-04       214.668115
4     2015-05       195.407463

In [127]:
superstore["year"] = superstore["Order Date"].dt.year
superstore["month"] = superstore["Order Date"].dt.month

seasonality = (
    superstore
    .groupby("month")["Sales"]
    .mean()
    .reset_index()
)

In [128]:
superstore[superstore["Order Date"].dt.month == 3].sort_values("Sales", ascending=False).head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,lead_time_days,order_month,year,month
2697,2698,CA-2015-145317,2015-03-18,2015-03-23,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,...,South,TEC-MA-10002412,Technology,Machines,Cisco TelePresence System EX90 Videoconferenci...,22638.48,5,2015-03,2015,3
8153,8154,CA-2018-140151,2018-03-23,2018-03-25,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,...,West,TEC-CO-10004722,Technology,Copiers,Canon imageCLASS 2200 Advanced Copier,13999.96,2,2018-03,2018,3
509,510,CA-2016-145352,2016-03-16,2016-03-22,Standard Class,CM-12385,Christopher Martinez,Consumer,United States,Atlanta,...,South,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,6354.95,6,2016-03,2016,3
5884,5885,CA-2017-136301,2017-03-13,2017-03-15,Second Class,EH-13765,Edward Hooks,Corporate,United States,San Francisco,...,West,OFF-SU-10000151,Office Supplies,Supplies,High Speed Automatic Electric Letter Opener,4912.59,2,2017-03,2017,3
1085,1086,US-2017-143819,2017-03-01,2017-03-05,Standard Class,KD-16270,Karen Daniels,Consumer,United States,Yonkers,...,East,TEC-MA-10003979,Technology,Machines,Ativa V4110MDD Micro-Cut Shredder,4899.93,4,2017-03,2017,3

In [129]:
top_products_volume = (superstore.groupby("Product Name")
    .agg(orders=("Order ID", "nunique"), total_sales=("Sales", "sum")).sort_values("orders", ascending=False)
)

top_products_volume.head(10)

                                            orders  total_sales
Product Name
Staple envelope                                 47     1675.652
Staples                                         46      755.470
Easy-staple paper                               44     2414.156
Avery Non-Stick Binders                         20      217.316
Staple remover                                  18      263.088
Staples in misc. colors                         18      459.660
Storex Dura Pro Binders                         17      278.586
KI Adjustable-Height Table                      17     4466.661
Staple-based wall hangings                      16      422.288
Situations Contoured Folding Chairs, 4/Set      15     3641.274

In [130]:
top_products_revenue = (superstore.groupby("Product Name")["Sales"]
    .sum().sort_values(ascending=False).head(10)
)

top_products_revenue

Product Name
Canon imageCLASS 2200 Advanced Copier                                          61599.824
Fellowes PB500 Electric Punch Plastic Comb Binding Machine with Manual Bind    27453.384
Cisco TelePresence System EX90 Videoconferencing Unit                          22638.480
HON 5400 Series Task Chairs for Big and Tall                                   21870.576
GBC DocuBind TL300 Electric Binding System                                     19823.479
GBC Ibimaster 500 Manual ProClick Binding System                               19024.500
Hewlett Packard LaserJet 3310 Copier                                           18839.686
HP Designjet T520 Inkjet Large Format Printer - 24" Color                      18374.895
GBC DocuBind P400 Electric Binding System                                      17965.068
High Speed Automatic Electric Letter Opener                                    17030.312
Name: Sales, dtype: float64

In [131]:
superstore_processed = superstore.drop(columns=["Postal Code"])

In [132]:
superstore_processed.to_csv("../data/processed/superstore_processed.csv", index=False)